extends layout.pug

block content
  form.form-inline.mb-2
    div.form-group.mr-2
      label.mr-2(for='serviceIdSelect') Service ID:
      select#serviceIdSelect.form-control
        each id, idx in service_ids
          if idx == 0
            option(value=id, selected) #{id} (#{num_trips[idx]} trips)
          else
            option(value=id) #{id} (#{num_trips[idx]} trips)
    a.btn.btn-light(onclick='drawChart()', style='cursor: pointer;')
      i.fa.fa-repeat

  div#timeline

  script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')
  script(type='text/javascript').
    google.charts.load("current", { packages:["timeline"] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

      // Get selected service ID and trips
      let service_select = document.getElementById('serviceIdSelect');
      let service_id = service_select.options[service_select.selectedIndex].value;
      let all_blocks = !{JSON.stringify(blocks)};
      let blocks = all_blocks[service_id];

      // Get unique block IDs
      let block_ids = [];
      for (idx in blocks) {
        if (!block_ids.includes(blocks[idx][0]) && idx > 0) {
          block_ids.push(blocks[idx][0]);
        }
      }

      // Set up and draw timeline
      let container = document.getElementById('timeline');
      let chart = new google.visualization.Timeline(container);
      let dataTable = new google.visualization.arrayToDataTable(blocks);

      let options = {
        timeline: { colorByRowLabel: true, showBarLabels: false },
        height: block_ids.length * 42
      }

      chart.draw(dataTable, options);
    }